@import "../../breakpoints.scss";

.navbar {
    background-color: #181315 !important;

    a {
        color: #E90064 !important;

        @include lg {
            font-size: 3rem;
            font-weight: 100;
        }
    }

    li {
        margin-right: 70px;
    }
}